{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chess Board</title>
    <link rel="stylesheet" href="{% static 'css/chess_board.css' %}" />
  </head>
  <body>
    <h1>Chess Repertoire Trainer</h1>

    <div class="chessBoard">
      {% for rank in board %}
          {% for element in rank %}
            <div class="square {{ element.square_color }}">
              
              {# piece standard  #}
              {% if element.piece_name %}
                <div class="piece {{ element.piece_name }}" data-color="{{ element.piece_color }}">
                  <img 
                    src="{% static element.piece_img %}" 
                    alt="{{ element.piece_name }}" 
                  />
                </div>
              {% endif %}

              {# piece on rightmost file #}
              {% if forloop.last %}
                <div 
                  class="coordinate rank {% if element.square_color == 'white' %}blackText{% else %}whiteText{% endif %}"
                >
                  {{ forloop.parentloop.counter }}
                </div>
              {% endif %}

              {# square with coordinate on the bottom rank #}
              {% if forloop.parentloop.last %}
                <div 
                  class="coordinate file {% if element.square_color == 'white' %}blackText{% else %}whiteText{% endif %}"
                >
                  {{ element.file_letter }}
                </div>
              {% endif %}

            </div>
          {% endfor %}
      {% endfor %}
    </div>
    <script src="{% static 'js/chess_board.js' %}"></script>
  </body>
</html>

